

body {
    background-color: lightsteelblue;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    height: inherit;
}

/*h1 {
    box-sizing: border-box;
    background-color: orange;
    padding:20px;
    margin: -10px -8px auto;
    text-align: center;
}*/

h1 {
    text-align: center;
    color: white;
}

.heading {
    box-sizing: border-box;
    background-color: orange;
    padding:10px;
    margin: -10px -8px 10px;
}


button {
    background-color: #388087;
    color: white;
}

button:hover {
    background-color: #2b565a;
    color: rgb(197, 197, 197);
}

.list-block {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    color: #ffffff;
    display: block;
}
