
h1,
button,
.list-block,
button a {
    color: white;
}

.heading,
.list-block {
    box-sizing: border-box;
    padding: 10px
}

h2,
p,
ul,
ol {
    color: black;
}

body {
    background-color: lightsteelblue;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    height: inherit;
}

h1 {
    text-align: center;
}

.heading {
    background-color: orange;
    margin: -10px -8px 10px;
}

button {
    background-color: #388087;
}

button:hover {
    background-color: #2b565a;
    color: rgb(197, 197, 197);
}

.list-block {
    margin: 10px auto;
    width: 200px;
    display: block;
}

/*h1 {
    box-sizing: border-box;
    background-color: orange;
    padding:20px;
    margin: -10px -8px auto;
    text-align: center;
}*/