body {
    background-color: lightsteelblue;
    font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
}

button {
    background-color: #388087;
    color: white;
}

button:hover {
    background-color: #2b565a;
    color: rgb(197, 197, 197);
}